$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/*різне*/

.debug_dump {
  claer: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* загальні */
  header {

    padding: 30px;
    text-align: center;
    font-size: 35px;
    a {
      color: white;
      margin-left: 10px;
    }
  }
body {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;

}

section {
  overflow: auto;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 20px;
}

/*правила для тексту*/

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/*загаловок*/

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: #ffffff;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/*footer*/
footer {
  margin-top: 45px;
  padding-top: 5x;
  border-top: 1px solid #eaeaea;
  color: #777777;

}
footer a {
  color: #555;
}
footer a:hover {
  color: #222;
}
footer small {
  float: left;
}

footer li {
  float: right;
  margin-left: 15px;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*бокова панель*/

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/*форми*/

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;

}

input {
  height: auto !important;
  }

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span{
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me{
  width: auto;
  margin-left: 0;
}

/*list of users*/
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-medium-light;
  }
}
